In [1]:
import os
import pandas as pd

In [2]:
path= 'images-unet'
os.path.join(path,'train','images')

'images-unet\\train\\images'

In [3]:
readfrom=os.path.join(path,'train','images')
[os.path.join(readfrom,file) for file in os.listdir(readfrom)[:5]]

['images-unet\\train\\images\\0020126b06a719c36fed196c2c71f2f0_0.png',
 'images-unet\\train\\images\\002985bcbd572241a950bf39b4188d70_0.png',
 'images-unet\\train\\images\\00437234527092743faeb39bc59bd7ee_0.png',
 'images-unet\\train\\images\\00be2ad4736f6657b767683186615f3f_0.png',
 'images-unet\\train\\images\\00bf40d77104c2b4d6d55e431ca009b9_0.png']

In [4]:
readfrom=os.path.join(path,'train','images')
files=[os.path.join(readfrom,file) for file in os.listdir(readfrom)]
df = pd.DataFrame(files)
df.to_csv('train_images.csv',index=False)
df.head()

                                                   0
0  images-unet\train\images\0020126b06a719c36fed1...
1  images-unet\train\images\002985bcbd572241a950b...
2  images-unet\train\images\00437234527092743faeb...
3  images-unet\train\images\00be2ad4736f6657b7676...
4  images-unet\train\images\00bf40d77104c2b4d6d55...

In [5]:
readfrom=os.path.join(path,'train','labels')
files=[os.path.join(readfrom,file) for file in os.listdir(readfrom)]
df = pd.DataFrame(files)
df.to_csv('train_labels.csv',index=False)
df.head()

                                                   0
0  images-unet\train\labels\0020126b06a719c36fed1...
1  images-unet\train\labels\002985bcbd572241a950b...
2  images-unet\train\labels\00437234527092743faeb...
3  images-unet\train\labels\00be2ad4736f6657b7676...
4  images-unet\train\labels\00bf40d77104c2b4d6d55...

In [6]:
readfrom=os.path.join(path,'test','images')
files=[os.path.join(readfrom,file) for file in os.listdir(readfrom)]
df = pd.DataFrame(files)
df.to_csv('test_images.csv',index=False)
df.head()

                                                   0
0  images-unet\test\images\b23232898bafcf304b2138...
1  images-unet\test\images\b586407933e66b112820f2...
2  images-unet\test\images\b61269467f2dc93f3cc31f...
3  images-unet\test\images\b712446cdd649dcb735673...
4  images-unet\test\images\b99276bf857375e23da3a9...

In [7]:
readfrom=os.path.join(path,'test','labels')
files=[os.path.join(readfrom,file) for file in os.listdir(readfrom)]
df = pd.DataFrame(files)
df.to_csv('test_labels.csv',index=False)
df.head()

                                                   0
0  images-unet\test\labels\b23232898bafcf304b2138...
1  images-unet\test\labels\b586407933e66b112820f2...
2  images-unet\test\labels\b61269467f2dc93f3cc31f...
3  images-unet\test\labels\b712446cdd649dcb735673...
4  images-unet\test\labels\b99276bf857375e23da3a9...